body{
    margin: 5% 5%;
}
#character_interface { 
    display: flex;
    flex-wrap: wrap; 
    width: fit-content;
    margin:5vh 0; 
}

#character_interface li {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    padding: 0.7rem;
    background-color: antiquewhite;
    list-style: none;
    border-radius: 10%;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.1) ;
}

#character_interface li:hover {
    transform: scale(1.3);
}

#character_interface li.disabled {
    background-color: rgb(221, 203, 181) ;
}

#pools {
    margin: 10vh 0;
    padding: 0;
    list-style: none;
    
}

.pool {
    display: flex;
    background: whitesmoke;
    padding: 0;
    margin: 1rem 0rem;
    height: 20vh;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 4px 4px  rgba(0, 0, 0, 0.1) ;

}

.poolTextField{
    width: 30%;
    height: 100%;

    border-radius: 1rem;
}

.poolIconField{
    width: 70%;
    height: 100%;

    border-radius: 1rem;
}