@font-face {
  font-family: "SmashFont";
  src: url("/resources/super_smash_4_1_by_pokemon_diamond-d7zxu6d.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body{
    margin: 2% 5%;
}

html {
  font-family: "SmashFont", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1{
    font-size: 5rem;
}

main button {
    padding: 1rem;
}

#bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

#character_interface { 
    display: flex;
    flex-wrap: wrap; 
    width: fit-content;
    margin:5vh 0; 
}

#character_interface li {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    padding: 0.7rem;
    background-color: antiquewhite;
    list-style: none;
    border-radius: 10%;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.1) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#character_interface li:hover {
    transform: scale(1.3);
}

#character_interface li.disabled {
    background-color: rgb(221, 203, 181) ;
}

#character_interface li img {
   height: 100%;
   width: 100%;
}

#pools {
    margin: 10vh 0;
    padding: 0;
    list-style: none;
    
}

#poolNameForm input,
#poolNameForm button {
    font-size: 1.5rem;
    padding: 1em;
}

.pool {
    display: flex;
    background: whitesmoke;
    padding: 0;
    margin: 1rem 0rem;
    height: 20vh;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 4px 4px  rgba(0, 0, 0, 0.1) ;

}

.poolTextField{
    display: flex;
    width: 25%;
    height: 100%;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}

.poolTextField p {
    font-size: larger;
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(43, 43, 43);
}

.poolIconField{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;
    border-radius: 1rem;
}

.poolUIField{
    display: flex;
    flex-direction: column;
    
    width: 10%;
    height: 100%;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

.poolUIField input{
    transform: scale(2);
    transform-origin: center;
}
.poolUIField button{
    font-size: 1rem;
}

#characterPopup {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top:2.5vh;
    left: 2.5vw;
    width: 95vw;
    height: 95vh;
    background-color: gainsboro;
    border-radius: 2rem;
}

.characterDisplaySection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
}


button {
    cursor: pointer;
}

.playButton {
    font-size: 5rem;
    padding: 3rem;
    box-shadow: 3rem 3rem rgba(0, 0, 0, 0.1) ;
}
.playButton:hover{
    transform: scale(1.07);
    transform-origin: center;
}

button,
input,
textarea,
select {
  font-family: inherit;
}
